@font-face {
    font-family: "GA";
    src: url("XM-Traffic-Bold/Traffic/XM\ Traffic.ttf");
}

@font-face {
    font-family: "NavT";
    src: url("Hor/ae_Hor.ttf");
}

@import url('https://fonts.googleapis.com/css?family=EBGaramond');

body {
    margin:0;
    width: 1239px;
  }
button{
    all:unset;
}

.flex-container{
    display:flex;
    margin: 0;
    padding: 38px 15px;
    background-color: white;
    height: 8px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1239px;
    z-index: 10;
}

.nav-left
{

color: #af9453;
font-family: Arial, sans-serif;
margin-left: 140px;;
font-weight: 700;
}
.nav-opts
{
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    margin-right: 70px;
    justify-content: space-between;
    color: black;
    font-family:  "NavT";
    font-weight: 250px;
    font-size: 15px;
}

.nav-opts a:hover
{
    color:#af9453;
}
.firstitem
{
    color:#7c6b40;
}
ul a 
{
    display: block;
    text-decoration: none;
    color: black;
}
ul li 
{
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
}
.nav a:hover{
    color: #af9453;
}
.bg
{
     display: flex;
    background-image: url("./images/image3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 -200px;
    height: 110px;
    justify-content: center;
    align-items: center;
    padding-top: 800px;
   

}
.firsttext
{
    display: flex;
    flex-direction: column;
    position:absolute;
    color:white;
    text-align: center;
    align-items: center;
    margin: 0;
    margin-top: -920px;
    font-family: 'EB Garamond', serif;;
    font-size: 55px;
    letter-spacing: 15px;
    line-height: 1.5;
    font-weight: 160px;
}
.servicepic
{
    display:flex;
    padding: 0;
    padding-top: 72px;
    padding-bottom: 40px;
    flex-basis: auto;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.service
{
    position: relative;
    margin-bottom: 100px;
}

.text
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    text-align: center;
    margin: 0;
    margin-right: 50px;
}


.text1p
{
    font-family: "GA";
    font-size: 27px;
    letter-spacing: 0.4em;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 116px;
    font-weight: 500;
}

.text2p
{
    font-family: 'EB Garamond', serif;
    margin-top: 73px;
    letter-spacing: 0.1em;
    line-height: 40px;
    margin-bottom:0;
    font-size: 19px;
}


.button1
{
    padding: 11px 70px;
    align-items: center;
    vertical-align: center;
    background: none;
    color: white;
    margin-top: 55px; 
    box-shadow: none;
    font-size: 15px;
    font-family: "GA";
    border: 1px solid white;
    font-weight: 600;
}

.img1
{
    height: 510px;
    width: 347px;
}

.img2
{
    height: 510px;
    width: 703px;
    padding-right: 5px;
}

.third
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.symbol
{
   font-size: 80px;
   margin: 0;
}
.quote
{
    font-family: 'EB Garamond', serif;;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    font-weight: 475;
    letter-spacing: 3px;
    line-height: 1.5;
}
.names
{
    margin-top: 60px;
    color: #af9453;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 140px;
    font-family: Arial;
}

.p3
{
    display: flex;
    background-image: url("./images/image2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 60px;
    justify-content: end;
    height: 640px;
    background-position: 60px -100px;
    background-size: 1200px;
    
}
    
.cont{
    display: flex;
    justify-content: end;
    height: 600px;
    position:relative;
    margin-right: 50px;
    margin-top: 40px;
}

.flower
{
    margin-top: 40px;
    margin-bottom: 50px;
    height: 480px;
    width: 300px;
}

.teex
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    text-align: center;
    margin: 0;
}

.tex1p
{
    font-family: "GA";
    font-size: 28px;
    letter-spacing: 0.4em;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 140px;
    font-weight: 330px;
    letter-spacing: 8px;
}

.tex2p
{
    font-family:'EB Garamond', serif;;
    margin-top: 80px;
    letter-spacing: 0.3em;
    line-height: 40px;
    margin-bottom:0;
    font-size: 20px;
    font-weight: 300;
}
.tex3{
    padding-top: 180px;
}

.button2
{
    padding: 9px 45px;
    align-items: center;
    vertical-align: center;
    background: none;
    border: 1px solid white ;
    color: white;
    margin-top: 50px; 
    border-style: solid;
    box-shadow: none;
    margin-bottom: 80px;
    font-family: "GA";
    font-size: 15px;
    font-weight: 600;
}


.footer
{
    background-color: #af9453;
    margin: 60px;
    margin-top: 110px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    letter-spacing: 0.3px;
    font-family: Arial;
    align-items: center;
    padding-top:40px;
    padding-bottom: 55px;
    font-size: 14px;
    padding-left: 120px;
    font-weight: bold;;
}

.ftex{
display: flex;

}
.f1{
    margin-right: 25px;
    line-height: 23px;
}
.f2{
    margin-right: 25px;
    margin-left: 25px;
    line-height: 23px;
    
}
.f3
{
    margin-left: 25px;
    line-height: 23px;
} 

.foo
{
    background: none;
    outline: none;
    color: white;
    padding:0;
    margin:0;
    height:max-content;
}
.foo button{
    margin:0;
    margin-right: 90px;
    padding: 15px 15px;
    border: 1px solid white;
    font-size: 14px ;
    font-weight: 600;
    font-family: "GA";
}
hr{
    color:white;
    height: 58px;
    margin-top: 20px;
}

#pg2
{
    list-style: none;
}

.content
{
padding-bottom: 50px;
}